
<div class="h-screen overflow-hidden">

  <div class="z-0">
    <div #map id="map" class="h-screen"></div>
  </div>

  <div class="absolute inset-x-0 bottom-0 h-3/7 sm:h-3/7 md:h-2/5 lg:h-2/5 bg-white bg-opacity-90  dark:bg-opacity-95 dark:bg-black z-40 rounded-t-3xl w-full shadow-3xl grid grid-cols-1 overflow-hidden">


<!-- search here -->
<div class="h-full grid grid-cols-1 pt-5">
  <form action="">
  <span class="pl-6 -mb-5 font-mono"> Set Depart</span>
  <div class=" flex justify-between">
    <ion-searchbar id="departSearchbar" show-clear-button="always" value="FST" mode="ios" class="w-5/6" (ionChange)="onSearchChange($event, 'depart')"></ion-searchbar>
    <div class="md:pl-5 pl-0  w-1/6  grid grid-cols-2 ">
      <div class="pt-5  right-0">
        <button type="button" title="depCurrent" (click)="setLocationToCurrent('depCurrent')">
          <ion-icon name="locate-outline" class="h-6 w-6"></ion-icon>
        </button>
      </div>

      <div class=" pt-5 right-0 ">
        <button type="button" title="depFST" (click)="setLocationToFST('depFST')">

          <ion-icon name="school-outline" class=" h-6 w-6  " ></ion-icon>
        </button>
      </div>
    </div>
  </div>

  <span class="pl-6 -mb-5 font-mono"> Set Destination</span>
  <div class=" flex justify-between">
    <ion-searchbar id="arrivalSearchbar" show-clear-button="always" value="Insert Coordinates" mode="ios" class="w-5/6" (ionChange)="onSearchChange($event, 'arrival')"></ion-searchbar>
    <div class="md:pl-5 pl-0 w-1/6  grid grid-cols-2">
      <div class="pt-5 right-0">
        <button type="button" title="arrCurrent" (click)="setLocationToCurrent('arrCurrent')" class="z-50" >
          <ion-icon name="locate-outline" class="h-6 w-6"></ion-icon>
        </button>
      </div>

      <div class="pt-5 right-0 ">
        <button type="button" title="arrFST" (click)="setLocationToFST('arrFST')">
          <ion-icon name="school-outline" class=" h-6 w-6  " ></ion-icon>
        </button>
      </div>

    </div>
  </div>
  <div class="w-full pt-5 flex justify-center items-center z-50 ">
  <div class=" grid grid-cols-2 gap-10">
    <ion-button
      type="button"
      fill="outline"
      color="secondary"
      mode="ios"
      [disabled]="driverRides.length > 0"
      (click)="navigateToFindRide()"
      data-te-ripple-init>

      <ion-icon slot="start" name="search-outline" class="text-black dark:text-white h-5 w-5" ></ion-icon>
      <span class="font-mono text-black dark:text-white">Find Ride</span>

    </ion-button>
    <ion-button
      type="button"
      fill="outline"
      color="secondary"
      mode="ios"
      [disabled]="passengerRides.length > 0"
      data-te-ripple-init
      (click)="AddPool()">



      <ion-icon slot="start" name="add" class="text-black dark:text-white h-5 w-5" ></ion-icon>
      <span class="font-mono text-black dark:text-white">Add Ride</span>

    </ion-button>
  </div>
  </div>
  </form>
</div>



      <div class="w-full h-fit flex items-center -mt-10 justify-center z-40">

    </div>





    <!-- rest of the div content -->
  </div>

  <button title="currentlocation" ion-button color="secondary" class="absolute h-14 w-14 focus:bg-gray-950 rounded-full bottom-2/4 z-50 bg-gray-800 left-2 shadow-xl dark:bg-white" (click)="centerToCurrentLocation()">
    <div class="w-full h-full flex items-center text-center justify-center scale-90">

      <ion-icon name="locate" color="light" class="w-10 h-10"></ion-icon>

    </div>
  </button>

  <button
    [disabled]="driverRides.length === 0 || passengerRides.length === 0"
    [ngClass]="{ 'cursor-not-allowed opacity-80': driverRides.length === 0 || passengerRides.length === 0 }"
    title="Inbox"
    ion-button color="secondary"
    class="absolute h-14 w-14 focus:bg-gray-950 rounded-full bottom-2/4 right-2 z-50 bg-gray-800 shadow-xl dark:bg-white"
    (click)="navigateToInbox()">
    <div class="w-full h-full flex items-center text-center justify-center scale-90">
      <ion-icon name="paper-plane" color="light" class="w-9 h-9 scale-90"></ion-icon>
    </div>
  </button>






</div>

