<ion-content class="dark:bg-black bg-white">

  <div class="z-0">
    <div #map id="map" class="h-screen"></div>
  </div>
  <!-- movable div -->
  <div class="absolute inset-x-0 bottom-0 h-64 bg-white dark:bg-black z-40 rounded-t-3xl w-full shadow-3xl grid grid-cols-1 overflow-hidden">

    <ion-item>
      <ion-label>Departure Location</ion-label>
      <ion-input [(ngModel)]="departureLocation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Destination</ion-label>
      <ion-input [(ngModel)]="destinationLocation"></ion-input>
    </ion-item>





      <div class="w-full h-fit flex items-center -mt-10 justify-center z-50">

    </div>


      <!-- <h1 class="font-bold text-xl ml-5">
          Available rides
        </h1> -->

        <!-- <ion-card class="w-full">
          <ion-card-header>

            <ion-card-title>Distance: {{ distance / 1000 }} km</ion-card-title>
            <ion-card-subtitle>Destination</ion-card-subtitle>
          </ion-card-header>
        </ion-card> -->


    <!-- rest of the div content -->
  </div>
  <button title="addpool" ion-button color="secondary" class="absolute h-14 w-14 rounded-full bottom-1/3 z-50 bg-orange-500 right-2 shadow-xl">
    <div class="w-full h-full flex items-center text-center justify-center">
      <svg width="46" height="46" viewBox="0 0 96 96" class=" scale-75">
        <image class="scale-75" href="../../../assets/addpool.svg"/>
      </svg>
    </div>
  </button>
  <button title="currentlocation" ion-button color="secondary" class="absolute h-14 w-14 rounded-full bottom-1/3 z-50 bg-gray-800 left-2 shadow-xl" (click)="centerToCurrentLocation()">
    <div class="w-full h-full flex items-center text-center justify-center scale-90">
      <svg width="46" height="46" viewBox="0 0 96 96" class=" scale-90 ml-2 mt-2">
        <image class="scale-50" href="../../../assets/locate-outline.svg "/>
      </svg>
    </div>
  </button>


  <!-- <div title="addpool" ion-button color="secondary" class="absolute h-14 w-14 rounded-full bottom-1/3 z-50 left-2 shadow-xl">

    <ion-button (click)="centerToCurrentLocation()">
      <ion-icon name="locate" color="secondary" style="border-radius: 50%; color: #ffffff;"></ion-icon>
    </ion-button>



  </div> -->
  <!---->



</ion-content>
