/* styles.css or global.scss file */
.ion-content{
  background-color: aqua;
}
/* Mobile view: full width */
ion-alert .alert-wrapper {
  width: 100%;
  max-width: 100%;
}

.coursebg{

  background-color: #ffdbcd;
  background-image: linear-gradient(315deg, #ffc4ad 0%, #ff9b30 100%);


}
@media(prefers-color-scheme: dark) {
  .coursebg {

    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  }
}



/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) {
  ion-alert .alert-wrapper {
    width: 70%; /* or any desired width */
    max-width: 70%;
  }
}
.add{
    --background: #ffffff;
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) {
  ion-alert .alert-wrapper {
    width: 50%; /* or any desired width */
    max-width: 50%;
  }
}

//meteor animation
.yo svg {
  animation: meteorMove 2s ease-in-out infinite alternate;
}

@keyframes meteorMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-9px);
  }
}
