
<ion-content  class="prevent-select">



  <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <!-- Top Blob -->
    <div class="blob">
      <svg id="desk" class="stretch" viewBox="0 0 1920 1080" preserveAspectRatio="none">
        <image href="../../assets/blobDesk.svg" />
        <g id="stars-group"></g>
      </svg>
      <svg id="mob" class="stretch" viewBox="0 0 1080 1920" preserveAspectRatio="none">
        <image href="../../assets/blobMob.svg" />
        <g id="stars-group"></g>
      </svg>
    </div>

    <div class="yo meteor">
      <svg width="200" height="200" viewBox="0 0 800 800">
        <image href="../../assets/meteor.svg"/>
      </svg>
    </div>

    <!--LOGO  -->
    <button ion-button (click)="goToHomePage()">
    <h1 class="title"><span class="uni">Uni</span><span class="space">Space</span></h1>
    </button>
    <!-- LOGIN FORM -->
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class=" py-8 px-4 sm:shadow-xl shadow-none sm:rounded-lg sm:px-10">
    <form class="space-y-6" action="#" method="POST">
      <label class="w-full flex justify-center items-center text-Space dark:text-gray-400">
        Recover Password
      </label>
      <div>
        <div class="w-full">
          <div class="relative h-12 w-full min-w-[200px]">
            <input
            [(ngModel)]="email"
            [ngModelOptions]="{standalone: true}"
            title="Email"
            class=" peer h-full w-full rounded-[7px] focus:shadow-md border-Space dark:border-gray-400 border bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all focus:border-2 focus:border-purp "
            placeholder="Email "
            type="Email" />

          </div>
        </div>
      </div>






      <div>
        <ion-button (click)="reset()" type="button" id="verify" color="secondary" class="w mt-6 w-full text-Space dark:text-gray-400 h-11 overflow-hidden rounded-l">Send</ion-button>
      </div>


    </form>
  </div>
</div>
</div>

</ion-content>




