
  <body class="absolute right-0">
    <!-- Top Blob -->

    <main class=" absolute h-full w-full">
      <div class="">
        <div class="max-w-xl mx-auto">
          <div class=" bg-Space dark:bg-gray-900 absolute inset-x-0 top-0 h-screen z-0 w-full  p-4 md:p-8 shadow-2xl mb-5">
            <!-- the day should be matched with current day -->
            <h2 class="font-bold text-lg  text-white">Today is Jan 23rd</h2>
            <!-- this is for me for the back end stuff but add a thing where it pulls it from a variable -->
              <h2 class="font-bold text-lg text-white font-mono mt-4">You have <span class="text-orange-500">6</span> Tasks This week</h2>
            <div class="flex justify-between mb-6">

              <button ion-button class="absolute top-4 right-4 focus:scale-110">
                <ion-icon name="calendar" class="text-white text-3xl"></ion-icon>
              </button>

            </div>
            <div class="overflow-x-auto">
              <div class="flex justify-between">
                <button ion-button class="text-center shadow-3xl rounded-full w-16 h-16 bg-purp font-bold text-white flex-shrink-0     mr-3">
                  <span class="w-full h-full flex items-center justify-center">Mo</span>
                </button>
                <button class="text-center shadow-3xl rounded-full w-16 h-16 bg-purp font-bold text-white flex-shrink-0     mr-3">
                  <span class="w-full h-full flex items-center justify-center">Tu</span>
                </button>
                <button class="text-center shadow-3xl rounded-full w-16 h-16 bg-purp font-bold text-white flex-shrink-0     mr-3">
                  <span class="w-full h-full flex items-center justify-center">We</span>
                </button>
                <button class="text-center shadow-3xl rounded-full w-16 h-16 bg-purp font-bold text-white flex-shrink-0     mr-3">
                  <span class="w-full h-full flex items-center justify-center">Th</span>
                </button>
                <button class="text-center shadow-3xl rounded-full w-16 h-16 bg-purp font-bold text-white flex-shrink-0     mr-3">
                  <span class="w-full h-full flex items-center justify-center">Fr</span>
                </button>
                <button class="text-center shadow-3xl rounded-full w-16 h-16 bg-purp font-bold text-white flex-shrink-0     mr-3">
                  <span class="w-full h-full flex items-center justify-center">Sa</span>
                </button>
                <button class="text-center shadow-3xl rounded-full w-16 h-16 bg-purp font-bold text-white flex-shrink-0     mr-3">
                  <span class="w-full h-full flex items-center justify-center">Su</span>
                </button>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="absolute inset-x-0 bottom-10 sm:bottom-0 h-4/6 bg-white dark:bg-black z-40 rounded-t-3xl  w-full flex items shadow-3xl">
        <ion-segment value="default" class="absolute top-0 bg-white rounded-t-full dark:bg-black shadow-lg z-30" mode="md">
          <ion-segment-button value="defualt" checked>
            <ion-label>All</ion-label>
          </ion-segment-button>
          <ion-segment-button value="events">
            <ion-label>Events</ion-label>
          </ion-segment-button>
          <ion-segment-button value="school">
            <ion-label>Assignments</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 mt-5 w-full">

          <div class=" overflow-auto border-b-2 w-full">
            <h1 class="mt-9 font-bold ml-8 text-xl mb-6" >Upcoming Today</h1>

            <ion-card class="scale-90">
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle color="danger" class="font-bold">Due Today</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
            <ion-card class="scale-90">
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle color="danger" class="font-bold">Due Today</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>

          </div>
          <div class="overflow-auto rounded-b-3xl w-full ">
            <h1 class="mt-9 font-bold ml-8 text-xl mb-6" >Future events</h1>
            <ion-card class="scale-90">
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle color="warning" class="font-bold">Due Tomorrow</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
            <ion-card class="scale-90">
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle color="warning" class="font-bold">Due Tomorrow</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </main>
  </body>


