<ion-content [fullscreen]="true" class="prevent-select ">
  <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <!-- Top Blob -->
    <div class="blob">
      <svg id="desk" class="stretch" viewBox="0 0 1920 1080" preserveAspectRatio="none">
        <image href="../../assets/blobDesk.svg" />
  
      </svg>
      <svg id="mob" class="stretch" viewBox="0 0 1080 1920" preserveAspectRatio="none">
        <image href="../../assets/blobMob.svg" />
  
      </svg>
    </div>
  
    <div class="yo meteor">
      <svg width="200" height="200" viewBox="0 0 800 800">
        <image href="../../assets/meteor.svg"/>
      </svg>
    </div>
  
    <!--LOGO  -->
      
   
    <div class="-mt-14 sm:mx-auto sm:w-full sm:max-w-md">
  <div class=" py-8 px-4 sm:shadow-xl shadow-none sm:rounded-lg sm:px-10">
    
  
    <h2 class=" mb-2 text-xl font-medium text-space dark:text-white text-center mt-2 ">Select Section</h2>
       <!-- physic-->
    <form class="space-y-6 mb-0 " action="#" method="POST">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-6">
          <div class="h-full container flex flex-col w-full p-6 rounded-lg bg-purp dark:bg-purp border-2">
            <div class="text-white flex flex-col flex-grow mb-2">
              <ion-checkbox mode="ios" color="secondary" class="text-white "> PhF</ion-checkbox>
            </div>
            <hr class="mb-4">
            <div class="text-white flex flex-col flex-grow mb-2">
              <ion-checkbox mode="ios" color="secondary" class="text-white ">PhN</ion-checkbox>
            </div>
            <hr class="mb-4">
            <div class="text-white flex flex-col flex-grow mb-2">
              <ion-checkbox mode="ios"color="secondary" class="text-white ">LPhE</ion-checkbox>
            </div>
            <hr class="mb-4">
            <div class="text-white flex flex-col flex-grow mb-2">
              <ion-checkbox mode="ios" color="secondary" class="text-white "> LEEA</ion-checkbox>
            </div>
            <hr class="mb-4">
            <div class="text-white flex flex-col flex-grow">
              <ion-checkbox mode="ios" color="secondary" class="text-white ">LTIC </ion-checkbox>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-4 mb-6">
          <div class="h-full container flex flex-col p-6 rounded-lg bg-purp dark:bg-purp border-2">
            <div class="text-white flex flex-col flex-grow mb-2">
              <ion-checkbox mode="ios" color="secondary" class="text-white ">L1</ion-checkbox>
            </div>
            <hr class="mb-4">
            <div class="text-white flex flex-col flex-grow mb-2">
              <ion-checkbox mode="ios"color="secondary" class="text-white ">L2</ion-checkbox>
            </div>
            <hr class="mb-4">
            <div class="text-white flex flex-col flex-grow mb-2">
              <ion-checkbox mode="ios" color="secondary" class="text-white ">L3</ion-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
  
  
    <div>
      <ion-button type="submit" color="secondary" class="mt-8 w-80 text-Space dark:text-gray-400 h-11 overflow-hidden rounded-l ">Finish</ion-button>
    </div>
  </div>
  </div>
  </div>
  </ion-content>
  
  
  
