<ion-content [fullscreen]="true" class="prevent-select">

  <body>
  <!-- Top Blob -->
  <div class="blob">
    <svg id="desk" class="stretch" viewBox="0 0 1920 1080" preserveAspectRatio="none">
      <image href="../../assets/blobDesk.svg"/>
      <g id="stars-group"></g>
    </svg>
    <svg id="mob" class="stretch" viewBox="0 0 1080 1920" preserveAspectRatio="none">
      <image href="../../assets/blobMob.svg"/>
      <g id="stars-group"></g>
    </svg>

  </div>

  <!-- login button -->
  <div class="absolute top-0 hidden md:block right-5">
    <div class="gap-2 grid grid-cols-2 ">

      <ion-button class="w-28" mode="md"
                  color="secondary"

                  (click)="goToLoginPage()">
        <span class="bo">Register</span>
      </ion-button>
      <ion-button class="w-28" mode="md"
                  color="light"
                  fill="outline"
                  (click)="goToLoginPage()">
        <span class="bo">Login</span>
      </ion-button>
    </div>
  </div>



  <div class="yo meteor">
    <svg width="200" height="200" viewBox="0 0 800 800">
      <image href="../../assets/meteor.svg"/>
    </svg>
  </div>

  <!--LOGO  -->
  <h1 class="title"><span class="uni">Uni</span><span class="space">Space</span></h1>

  <!-- BUTTON -->
  <ion-button color="secondary" class="button" class="text-white" (click)="goToExplorePage()">

    <span class="text-white font-bold">Explore</span>
  </ion-button>


  </body>
</ion-content>
