<ion-content>


  <body>
    <div>
      <h1 class="w-full flex justify-center items-center text-lg font-bold scale-150 mt-7"><span class="uni">Uni</span><span class="space">Space</span></h1>
      <!-- TOP STUFF -->
       <div class="">
      <div class=" w-full sm:block fixed bottom-10 md:top-12 ">
        <div class="   mt-6 flex justify-center">
          <nav class=" bg-white dark:bg-Space shadow-xl  border-2 rounded-full overflow-hidden " aria-label="Tabs">
            <div class="-mb-px ml-5 mr-5 flex  space-x-7">

              <a href="#" class="border-transparent dark:text-white transition ease-in-out delay-75 text-gray-800 hover:text-orange-400 hover:border-orange-400 group inline-flex items-center py-4 px-1 border-b-4 font-medium text-lg ">
              <svg class="dark:text-white text-gray-800 group-hover:text-orange-400 transition ease-in-out delay-75 -ml-0.5 mr-2 h-7  w-7 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
              </svg>

              <span class="hidden md:block">Home</span>
            </a>
            <a href="#" class="border-transparent dark:text-white text-gray-800 transition ease-in-out delay-75 hover:text-orange-400 hover:border-orange-400 group inline-flex items-center py-4 px-1 border-b-4 font-medium text-lg">

              <svg class="dark:text-white text-gray-800 group-hover:text-orange-400 -ml-0.5 mr-2 h-7 w-7 transition ease-in-out delay-75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
              </svg>
              <span class="hidden md:block">UniRide </span>
            </a>
            <a href="#" class="border-transparent transition ease-in-out delay-75 dark:text-white text-gray-800 hover:text-orange-400 hover:border-orange-400 group inline-flex items-center py-4 px-1 border-b-4 font-medium text-lg">

              <svg class="dark:text-white transition ease-in-out delay-75 text-gray-800 group-hover:text-orange-400 -ml-0.5 mr-2 h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
              </svg>
              <span class="hidden md:block ">EventLink</span>
            </a>
            <a href="#" class="border-transparent dark:text-white transition ease-in-out delay-75 text-gray-800 hover:text-orange-400 hover:border-orange-400 group inline-flex items-center py-4 px-1 border-b-4 font-medium text-lg">

              <svg class="dark:text-white transition ease-in-out delay-75 text-gray-800 group-hover:text-orange-400 -ml-0.5 mr-2 h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
              </svg>
              <span class="hidden md:block">UniNews</span>
            </a>
            </div>
          </nav>
        </div>
      </div>
      </div>
      <!-- MAIN CONTENT -->

      <div class="grid grid-rows-2 w-full overflow-y-auto justify-center items-center">
        <div class="">
        <div class=" mx-auto max-w-7xl sm:mt-24 grid grid-cols-2">
          <div class="text-center">
            <h1 class="text-4xl font-bold text-gray-900 dark:text-orange-600 sm:text-5xl md:text-6xl">
              <span class="">Data to enrich your online business</span>
            </h1>
            <p class="mt-3 max-w-md mx-auto text-base dark:text-white text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
          </div>
          <div class="w-full flex justify-center items-center">
            <img class="object-cover 	 shadow-lg rounded-lg w-44  h-60 " src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
          </div>

        </div>
        </div>


      </div>


    </div>









  </body>
</ion-content>
